body {
	background-image: url(images/back4.jpg);
	background-size:210%;
	padding:0px;
	margin:0px;
	font-size:14px;
	font-family:Arial, Sans-serif;
	}
#basic {
	width:960px;
	min-height:950px;
	margin:0 auto;
	padding:20px 20px 20px 20px;
	background-color:#fff;}
img {
	border:0;
	}
a {
	color:#00CCCC;
	}
a:hover {
	text-decoration:none;
	}
#head-site {
	
}
#menu-top {
	width:960px;
	height: 74 px;
}
.bg-1 {
	width: 960px;
	height:64px;
	background:#006699;
	padding: 0 0 0 10px;
}
.bg-2{
	width:940px;
	height:8px;
	background:#00CCCC;
	margin:0 auto;
}
.bg-1 ul {
	margin:0;
	padding:0;
	list-style:none;
}
.bg-1 ul li{
	float:left;
	padding: 0 2px 0 0;
}
.bg-1 ul li a{
	display:block;
	height:48px;
	padding:24px 27px 0 27px;
	color: #00CCCC;
	text-decoration:none;
	text-transform:uppercase;
}
.bg-1 ul li a:hover{
	color:#fff;
	background:#00CCCC;
}
#here {
	color:#fff;
	background:#00CCCC;
}
#content{
	width:960px;
	padding: 20px 0 0 0;
}
.right {
	float:right;
	width: 690px;
	padding: 0 0 0 20px;
	text-align:justify;
	min-height:925px;
}
.right h1 {
	text-transform:uppercase;
	color: #006699;
	font-weight:normal;
	margin-top:0;
}
.spisok{
	column-count: 2;
}
.left {
	width:250px;
	float: left;
}
.block-nad-menu {
	width:240px;
	height:10px;
	background:#00CCCC;
}
.block-pod-menu {
	width:240px;
	margin: 0 0 0 10px;
	height:10px;
	background:#006699;
}
.citata {
	padding: 0 20px 5px 20px;
	background:#99FFFF;
}
.block-menu {
	width: 240px;
	border-left: 10px solid #00CCCC;
	background:#006699;
}
.left ul {
	margin:0;
	padding:10px 0 0 0;
	list-style:none;
}
.left ul li {
	background: url(images/marker.png) no-repeat bottom left;
	background-size:14%;
}
.left ul li a{
	display:block;
	width: 195px;
	color:#fff;
	text-decoration:none;
	padding:10px 5px 10px 40px;
}
.left ul li a:hover{
	background:#00CCCC 
}
li.none-bg {
	background:none;
}
.myclr {
	clear:both;
	float:none;
	width:100%;
	height:1px;
}
#podval {
	border-top:10px solid #006699;
	margin-top:20px;
}
.yellow {
	width:940px;
	height:5px;
	margin:0 auto;
	background:#00CCCC;
}
.blue {
	width:690px;
	height:5px;
	margin:0 auto;
	background:#00CCCC;
}
.p1 {
	float:left;
	width: 300px;
	padding:15px 0 0 0;
}
.p3 {
	float:right;
	width: 50px;
	padding: 15px 0 0 0;
}